{{!< default}}

<div class="container">
    <div class="error-page">
        <h1>404</h1>
        <p>Diese Seite konnte nicht gefunden werden.</p>
        <a href="{{@site.url}}" class="btn btn-primary">Zurück zur Startseite</a>
    </div>
</div>
